

@keyframes animate-circle {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

.loading-main__loader {
    margin: auto;
    width: 200px;
    height: 200px;
    position: relative;
    /*-webkit-transform: translateX(-50%) translateY(-50%);*/
    /*transform: translateX(-200px) translateY(-200px);*/
}

.loading-main__loader > .loading-main__circle {
    --duration: 2s;
    width: 200px;
    height: 200px;
    position: absolute;
    background: #FFA5AB;
    border-radius: 50%;
    -webkit-animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
    animation: animate-circle var(--duration) cubic-bezier(.9,.24,.62,.79) infinite;
}

.loading-main__loader > .loading-main__circle:nth-of-type(1) {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.loading-main__loader > .loading-main__circle:nth-of-type(2) {
    -webkit-animation-delay: calc(var(--duration) / -3);
    animation-delay: calc(var(--duration) / -3);
}

.loading-main__loader > .loading-main__circle:nth-of-type(3) {
    -webkit-animation-delay: calc(var(--duration) / -6);
    animation-delay: calc(var(--duration) / -6);
}


.loading-main{
    margin: auto;
    height: 100vh;
    display: flex;
    background-color: rgb(165, 56, 96, 0.95);
}